//- text/ParticipationRevocationVerification.pug
extends ../layout-text

block content
  | You have requested to leave the JupyterHub "#{jupyter.name}".
  | Please confirm this action by following the link below:
  | #{jupyter.name}
