//- html/ParticipationRejected.pug
extends ../layout-html

block content
  p Your participation request for "#{jupyter.name}" has been <strong style="color: #dc3545; font-weight: 500;">rejected</strong>!
