//- html/UserDeletionVerification.pug
extends ../layout-html

block content
  p You have requested to <strong style="color: #dc3545;">permanently delete your account</strong>.
  p Please confirm this action by following the link below:
  p(style={'text-align': 'center', 'margin-top': '30px'})
    a(href=verification.targetUrl style={'border': '1px solid #2C3E50', 'border-radius': '5px', 'color': '#2C3E50', padding: '5px 15px'}) Delete Account Now
