FRONTEND_URL=http://localhost:3000/
JHAAS_DOMAIN=jhaas.local

POSTGRES_HOST=jhaas-portal-db
POSTGRES_PORT=5432
TYPEORM_DB_SYNC=false
TYPEORM_DB_LOGGING=false

S3_ENDPOINT=minio
S3_PORT=9000
S3_SSL=false
S3_ACCESS_KEY=minio
S3_SECRET_KEY=super-secret-secret

OIDC_ENDPOINT=http://authentik:9000/application/o/portal
OIDC_URL_CALLBACK=http://localhost:3000/api/auth/oidc/cb
OIDC_CLIENT_ID=jhaas-portal
OIDC_CLIENT_SECRET=mysupersecretclientsecretmysupersecretclientsecret
FORCE_OIDC_REACHABLE=true

AUTHENTIK_API_ENDPOINT=http://authentik:9000/api/v3
AUTHENTIK_API_SECRET=tokentokentokentokentokentokentokentokentokentoken
AUTHENTIK_INVALIDATION_FLOW=http://authentik:9000/if/flow/logout/
AUTHENTIK_JH_GROUP_NAME=jupyterhubs

SESSION_COOKIE_SECRET=["super-secret-1", "super-secret-2", "super-secret-X"]
SESSION_STORAGE=redis
SESSION_STORAGE_URL=redis://redis
