AUTHENTIK_SECRET_KEY=yoursecretauthentiksecretyoursecretauthentiksecret

AUTHENTIK_BOOTSTRAP_EMAIL=admin@jhaas.local
AUTHENTIK_BOOTSTRAP_PASSWORD=adminadmin
AUTHENTIK_BOOTSTRAP_TOKEN=tokentokentokentokentokentokentokentokentokentoken

AUTHENTIK_EMAIL__HOST=mailhog
AUTHENTIK_EMAIL__PORT=2525
AUTHENTIK_EMAIL__USE_TLS=false
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
AUTHENTIK_EMAIL__FROM=authentik@jhaas.local

AUTHENTIK_REDIS__HOST=redis
# Use DB 1 as DB 0 is used by portals session store
AUTHENTIK_REDIS__DB=1

AUTHENTIK_POSTGRESQL__HOST=jhaas-portal-db

# Must match with credentials in db.env!
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD=authentik
