POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JHAAS_DB_NAME=jhaas
JHAAS_DB_USER=jhaas
JHAAS_DB_PASS=jhaas

AUTHENTIK_DB_NAME=authentik
AUTHENTIK_DB_USER=authentik
AUTHENTIK_DB_PASS=authentik
